/.vscode
/*/__pycache__
/*/*/__pycache__
/*/*/*/__pycache__
/*/*/*/*/__pycache__
/*/*/*/*/*/__pycache__
/*/*/*/*/*/*/__pycache__
/node_modules
/*/node_modules
/*/*/node_modules
/*/*/*/node_modules
/*/*/*/*/node_modules
/*/*/*/*/node_modules
/*/*/*/*/*/node_modules
/wp-content/plugins/*
/html_image
/md
/pcs
/config